@model EDUProjects.Models.StudentModel.GetAllStudentsViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Student</h1>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("University")
            </th>
            <th>
                @Html.DisplayName("Section")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("Birth_Date")
            </th>
            <th>
                @Html.DisplayName("Phone_Number")
            </th>
            <th>
                @Html.DisplayName("Address")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Id)
            </td>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>

            <td>
                @Html.DisplayFor(model => item.University)
            </td>
            <td>
                @Html.DisplayFor(model => item.Section)
            </td>
            <td>
                @Html.DisplayFor(model => item.Phone_Number)
            </td>
            <td>
                @Html.DisplayFor(model => item.Birth_Date)
            </td>
            <td>
                @Html.DisplayFor(model => item.Address)
            </td>
        </tr>
        }
    </tbody>
</table>
