@model EDUProjects.Models.ClassModel.GetAllClassesViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Classes List</h1>

<br />
<a href='@Url.Action("AddClass", "Classes")'>Add class</a>
<table class="table" BORDERCOLOR=#c99797>
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Class Id")
            </th>
            <th>
                @Html.DisplayName("Subject title")
            </th>
            <th>
                @Html.DisplayName("Desciption")
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Classes)
        {
        <tr>
            
            <td>
                @Html.DisplayFor(model => item.Subject_Title)
            </td>

            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            
            <td>
                <a asp-action="DeleteClass" asp-route-id="@item.Id">Delete</a>
                @*<a asp-action="UpdateTrip" asp-route-id="@item.TripId">Update</a>*@
            </td>
        </tr>   
        }
    </tbody>
</table>